@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;

}
h1{
    box-shadow: inset 2px 1px 14px 6px black;
}
nav{
    background-color: rgb(102, 102, 102);
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.473) ;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 30px;
}
nav > a:hover{
    text-decoration: underline;

}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0px ;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
}
article{
    background-color: lightblue;

}
article > aside{
    background-color:rgb(165, 165, 165) ;
    padding:5px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}
footer > p{
    margin: 0px;
    
}
#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}
